# Global Terrorism Impact

In [ ]:
import pandas as pd
# import streamlit as st
import warnings
warnings.filterwarnings("ignore")

data = pd.read_csv("/Users/asutoshdalei/Desktop/Work/GlobalTerrorism/globalterrorismdb.csv",encoding= 'ISO-8859-1')
data.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)

data=data[['Year','Month','Day','Country','Region','city','latitude','longitude','AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive']]
data['casualities']=data['Killed']+data['Wounded']

data = data[(data.Month!=0) & (data.Day!=0)]

def dateFnx(row):
    date = str(row['Month'])+':'+str(row['Day'])+':'+str(row['Year'])
    return pd.to_datetime(date,format='%m:%d:%Y')

data['date'] = data.apply(dateFnx,axis=1)

In [7]:
print(data.shape)

(180800, 19)

In [2]:
data.head(3)

,Year,Month,Day,Country,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive,casualities,date
0,1970,7,2,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1.0,1970-07-02
5,1970,1,1,United States,North America,Cairo,37.005105,-89.176269,Armed Assault,0.0,0.0,Cairo Police Headquarters,1/1/1970: Unknown African American assailants ...,Black Nationalists,Police,Firearms,To protest the Cairo Illinois Police Deparment,0.0,1970-01-01
6,1970,1,2,Uruguay,South America,Montevideo,-34.891151,-56.187214,Assassination,0.0,0.0,Juan Maria de Lucah/Chief of Directorate of in...,NaN,Tupamaros (Uruguay),Police,Firearms,NaN,0.0,1970-01-02

In [3]:
data[data[['latitude','longitude']].notna()][['latitude','longitude']]

         latitude   longitude
0       18.456792  -69.951164
5       37.005105  -89.176269
6      -34.891151  -56.187214
7       37.791927 -122.225906
8       43.076592  -89.412488
...           ...         ...
181686   2.359673   45.385034
181687  35.407278   35.942679
181688   6.900742  124.437908
181689  24.798346   93.940430
181690   7.209594  124.241966

[180800 rows x 2 columns]

In [13]:
data[data.latitude.notna() & data.longitude.notna()][['latitude','longitude']]

         latitude   longitude
0       18.456792  -69.951164
5       37.005105  -89.176269
6      -34.891151  -56.187214
7       37.791927 -122.225906
8       43.076592  -89.412488
...           ...         ...
181686   2.359673   45.385034
181687  35.407278   35.942679
181688   6.900742  124.437908
181689  24.798346   93.940430
181690   7.209594  124.241966

[176330 rows x 2 columns]

In [6]:
yearCount = data.groupby('Year')['Month'].count()
yearCount.head()

Year
1970    636
1971    461
1972    561
1973    463
1974    572
Name: Month, dtype: int64